﻿@model GeekStream.Core.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Забыли пароль?";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 offset-3 bg-light mt-3" style="border-radius: 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto mb-1">
                    <h3>Забыли пароль? Не беда</h3>
                </div>
                <h6 class="text-left my-3">
                    Мы можем сбросить ваш пароль, 
                    а вы придумаете новый. 
                    Для этого укажите адрес почты, 
                    на которую вы зарегистрировали аккаунт
                </h6>
                <form method="post" class="text-left">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" style="border-radius: 8px" placeholder="Введите email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group d-flex justify-content-end" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-auto" style="background-color: #7B61FF; color: white; border-radius: 8px;">Сбросить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
