﻿@model GeekStream.Core.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Войти";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 offset-3 bg-light mt-3" style="border-radius: 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto mb-1">
                    <h2>Войти на GeekStream</h2>
                </div>
                <form method="post" class="text-left">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" style="border-radius: 8px" placeholder="Введите email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" style="border-radius: 8px" placeholder="Ваш пароль">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <a style="color: #7B61FF" asp-controller="Account" asp-action="Register">Регистрация</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a style="color: #7B61FF" asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a>
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-2 offset-10" style="background-color: #7B61FF; color: white; border-radius: 8px;">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

