﻿@model GeekStream.Core.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-6 offset-3 bg-light mt-3" style="border-radius: 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto">
                    <h2>Создание аккаунта</h2>
                </div>
                <form method="post" class="text-left">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label asp-for="FirstName" style="font-size: 16px"></label>
                            <input asp-for="FirstName" class="form-control" style="border-radius: 8px" placeholder="Имя">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" style="border-radius: 8px" placeholder="Фамилия">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" style="border-radius: 8px" placeholder="Ваша почта. Останется в секрете ;)">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" style="border-radius: 8px" placeholder="Ваш пароль">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" style="border-radius: 8px" placeholder="Подтверждение пароля">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-6 offset-6" style="background-color: #7B61FF; color: white; border-radius: 8px;">Создать аккаунт</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
