﻿@model GeekStream.Core.ViewModels.DraftViewModel

@{
    ViewData["Title"] = "Черновик";
}

<div class="bg-white">
    <div class="container pt-3">
        <form style="color: #838383;">
            <input asp-for="Id" hidden>
            <div class="row py-3 align-items-center">
                <div>Редактировать черновик</div>
                <div class="ml-auto">
                    <input type="submit" formaction="@Url.Action("Remove")" formmethod="post" class="btn btn-light" style="border: 1px solid lightgray; border-radius: 8px" value="Удалить черновик">
                    <input type="submit" formaction="@Url.Action("SaveDraft")" formmethod="post" class="btn btn-light" style="border: 1px solid lightgray; border-radius: 8px" value="Сохранить изменения">
                    <input type="submit" formaction="@Url.Action("CreateReview", "Review", new { articleId = Model.Id})" formmethod="post" class="btn" style="background-color: #7B61FF; color: white; border-radius: 8px" value="Опубликовать">
                </div>
            </div>
            <div class="row form-group">
                <div class="d-flex flex-column">
                    <label asp-for="Title" class="small"></label>
                    <span asp-validation-for="Title" class="text-danger small"></span>
                </div>
                <input asp-for="Title" class="form-control" style="border-radius: 8px" placeholder="Придумайте название статьи">
                <span class="text-muted small">Хорошее название может заинтересовать многих читателей</span>
            </div>
            <div class="row form-group">
                <label asp-for="CategoryId" class="small"></label>
                <select
                    asp-for="CategoryId" class="form-control" style="border-radius: 8px"
                    asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))"></select>
                <span class="text-muted small">Статью можно отправить в одну категорию</span>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Keywords" class="small"></label>
                <input asp-for="Keywords" class="form-control" style="border-radius: 8px" placeholder="Введите ключевые слова">
                <span class="text-muted small">Ключевые слова помогают найти вашу статью в поиске</span>
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <div class="d-flex flex-column">
                    <label asp-for="Content" class="small"></label>
                    <span asp-validation-for="Content" class="text-danger small"></span>
                </div>
                <textarea asp-for="Content" class="form-control" style="border-radius: 8px; resize: none" rows="38" placeholder="Ваша интересная статья">
                </textarea>
            </div>
        </form>
    </div>
    
</div>