﻿@model IEnumerable<GeekStream.Core.ViewModels.DraftsViewModel>

@{
    ViewData["Title"] = "Мои черновики";
}

<div class="container pt-3">
    @foreach (var article in Model)
    {
        <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
            <div class="row align-items-center">
                <div class="col-md-auto">
                    @if (article.Category.IconPath == null)
                    {
                        <div style="width: 24px; height: 24px; background-color: #7B61FF; border-radius: 4px"></div>
                    }
                    else
                    {
                        <img src="~/@article.Category.IconPath" width="24" height="24" alt="CategoryIcon">
                    }
                </div>
                <a class="col-md-auto pl-0" href="#">@article.Category.Name</a>
                <div class="col-md-auto text-muted small">Создано: @article.CreatedDate.ToString("dd/MM/yyyy HH:mm")</div>
            </div>
            <div class="row align-items-center mt-3">
                <a class="text-muted" asp-controller="Article" asp-action="Draft" asp-route-id="@article.Id">
                    <h5 class="col-md-auto">@article.Title</h5>
                </a>
            </div>
            <div class="small text-muted">
                @article.Content
            </div>
        </div>
    }
</div>

