﻿@using GeekStream.Core.Shared.Entities
@using GeekStream.Core.ViewModels
@model GeekStream.Core.ViewModels.ReadArticleViewModel

@{
    ViewData["Title"] = Model.Article.Title;
}

<div class="container pt-3">
    <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
        <div class="row align-items-center">
            <div class="col-md-auto">
                @if (Model.Article.Category.IconPath == null)
                {
                    <div style="width: 24px; height: 24px; background-color: #7B61FF; border-radius: 4px"></div>
                }
                else
                {
                    <img src="~/@Model.Article.Category.IconPath" width="24" height="24" alt="CategoryIcon">
                }
            </div>
            <a class="col-md-auto pl-0" asp-controller="Category" asp-action="Show" asp-route-id="@Model.Article.Category.Id">@Model.Article.Category.Name</a>
            <div class="col-md-auto text-muted small">@DateTime.Parse(Model.Article.PublishedDate.ToString()).ToString("dd/MM/yyyy HH:mm")</div>
            @if (User.Identity.Name == Model.Article.Author.UserName || User.IsInRole("Admin") || User.IsInRole("Mod"))
            {
                <a class="btn col-md-auto ml-auto" style="background-color: #7B61FF; color: white; border-radius: 8px" asp-controller="Article" asp-action="Unpublish" asp-route-articleId="@Model.Article.Id">Снять с публикации</a>   
            }
        </div>
        <div class="row align-items-center ">
            <h3 class="col-md-auto pt-2">@Model.Article.Title</h3>
        </div>
        <div class="text-muted py-2">
            @Model.Article.Content
        </div>
        <div class="col-md-auto ml-auto d-flex flex-row align-items-center pl-0">
            @{
                var avatarPath = Model.Article.Author.AvatarPath ?? "imgs/avatars/default.png";
            }
            <img src="~/@avatarPath" alt="avatar" width="36" height="36" style="border-radius: 18px">
            <a asp-controller="Author" asp-action="Show" asp-route-id="@Model.Article.Author.Id" class="nav-link pl-2">@Model.Article.Author.FirstName @Model.Article.Author.LastName</a>
        </div>
        <div class="text-muted pt-3">
            Комментарии (@Model.Article.Comments.Count)
        </div>
        <div class="py-1">
            @if (Model.Article.Comments.Count == 0)
            {
                <div class="text-center">
                    <h5>Упс, кажется, у этой статьи ещё нет комменариев</h5>
                    <h6>Станьте первым комментатором :)</h6>
                </div>
            }
            else
            {
                foreach (var comment in Model.Article.Comments)
                {
                    <div class="my-2">
                        <div class="col-md-auto d-flex flex-row align-items-center pl-0">
                            @{
                                var avatarPathComment = comment.Author.AvatarPath ?? "imgs/avatars/default.png";
                            }
                            <img src="~/@avatarPathComment" alt="avatar" width="24" height="24" style="border-radius: 18px">
                            <a asp-controller="Author" asp-action="Show" asp-route-id="@comment.Author.Id" class="nav-link pl-2">@comment.Author.FirstName @comment.Author.LastName</a>
                        </div>
                        <div class="text-muted">
                            @comment.Text
                        </div>
                    </div>
                }
            }
        </div>
        @{ await Html.RenderPartialAsync("_sendCommentPartial", new SendCommentViewModel
           {
               ArticleId = Model.Article.Id
           }); }
    </div>
</div>