﻿@model IEnumerable<GeekStream.Core.Shared.Entities.AppUser>

@{
    ViewData["Title"] = "Список авторов";
}

<div class="container pt-3">
    @foreach (var user in Model)
    {
        <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
            <div class="row align-items-center">
                <div class="col-md-auto d-flex flex-row align-items-center">
                    @{
                        var avatarPath = user.AvatarPath ?? "imgs/avatars/default.png";
                    }
                    <img src="~/@avatarPath" alt="avatar" width="24" height="24" style="border-radius: 18px">
                    <a asp-controller="Author" asp-action="Show" asp-route-id="@user.Id" class="nav-link pl-2">@user.FirstName @user.LastName</a>
                </div>
            </div>
        </div>
    }
</div>
