﻿@inject RatingService _ratingService
@inject ArticleService _articleService
@inject SubscriptionService _subscriptionService
@using GeekStream.Core.Services
@model GeekStream.Core.Shared.Entities.AppUser

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<div class="container">
    <div class="row bg-white align-items-center p-3">
        @{
            var avatarPath = Model.AvatarPath ?? "imgs/avatars/default.png";
        }
        <img src="~/@avatarPath" alt="avatar" width="72" height="72" class="rounded-circle">
        <div class="text-dark ml-2">@Model.FirstName @Model.LastName</div>
        <form class="col-md-auto ml-auto" method="post">
            <input hidden name="authorId" id="authorId" value="@Model.Id">
            @if (_subscriptionService.IsUserSubscribedToAuthor(User, Model.Id))
            {
                <input asp-controller="Subscription" asp-action="UnsubscribeAuthor" class="btn" style="background-color: #7B61FF; color: white; border-radius: 8px" type="submit" value="Отписаться">
            }
            else
            {
                <input asp-controller="Subscription" asp-action="SubscribeAuthor" class="btn" style="background-color: #7B61FF; color: white; border-radius: 8px" type="submit" value="Подписаться">   
            }
        </form>
    </div>
    <div class="row py-3">
        Статьи от данного автора
    </div>
    @foreach (var article in Model.Articles.Where(x => !x.IsDraft && x.PublishedDate != null))
        {
            <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
                <div class="row align-items-center">
                    <div class="col-md-auto">
                        @if (article.Category.IconPath == null)
                        {
                            <div style="width: 24px; height: 24px; background-color: #7B61FF; border-radius: 4px"></div>
                        }
                        else
                        {
                            <img src="~/@article.Category.IconPath" width="24" height="24" alt="CategoryIcon">
                        }
                    </div>
                    <a class="col-md-auto pl-0" href="#">@article.Category.Name</a>
                    <div class="col-md-auto text-muted small">@DateTime.Parse(article.PublishedDate.ToString()).ToString("dd/MM/yyyy HH:mm")</div>
                    <div class="col-md-auto ml-auto d-flex flex-row align-items-center">
                        @{
                            avatarPath = article.Author.AvatarPath ?? "imgs/avatars/default.png";
                        }
                        <img src="~/@avatarPath" alt="avatar" width="24" height="24" style="border-radius: 18px">
                        <a href="#" class="nav-link pl-2">@article.Author.FirstName @article.Author.LastName</a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <a class="text-muted" asp-controller="Article" asp-action="Read" asp-route-id="@article.Id">
                        <h5 class="col-md-auto">@article.Title</h5>
                    </a>
                </div>
                <div class="small text-muted">
                    @article.Content
                </div>
                <div class="row align-items-center py-2">
                    <img class="col-md-auto pr-0" height="20" src="~/imgs/comments.png" alt="Comments">
                    <div class="text-muted col-md-auto pl-1">
                        @article.Comments.Count
                    </div>
                    <div id="@article.Id" class="col-md-auto ml-auto d-flex align-items-center">
                        <button name="up" class="btn btn-sm @(await _ratingService.GetUserVote(User, article.Id) == 1 ? "btn-success" : "btn-outline-success") border-0 col-md-4 rounded-circle" style="outline: none; box-shadow: none">
                            +
                        </button>
                        <div name="rating" class="@(article.Rating >= 0 ? "text-success" : "text-danger") px-3">
                            @article.Rating
                        </div>
                        <button name="down" class="btn btn-sm @(await _ratingService.GetUserVote(User, article.Id) == -1 ? "btn-danger" : "btn-outline-danger") border-0 col-md-4 rounded-circle" style="outline: none; box-shadow: none">
                            -
                        </button>
                    </div>
                </div>
            </div>
        }
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script type="application/javascript">
        "use strict";
        
        var connection = new signalR.HubConnectionBuilder().withUrl("/rating").build();
        
        connection.on("UpdateRating", function (articleId, rating, userVote) {
            const articleRating = document.getElementById(articleId).getElementsByTagName("div")[0];
            const buttons = document.getElementById(articleId).getElementsByTagName("button");
            
            articleRating.innerText = rating;
            if (rating >= 0) {
                articleRating.classList.remove("text-danger");    
                articleRating.classList.add("text-success");
            } else {
                articleRating.classList.remove("text-success");
                articleRating.classList.add("text-danger");   
            }
            
            if (userVote === 0) {
                buttons[0].classList.remove("btn-success");
                buttons[0].classList.add("btn-outline-success");
                buttons[1].classList.remove("btn-danger");
                buttons[1].classList.add("btn-outline-danger");
            } else if (userVote === 1) {
                buttons[0].classList.remove("btn-outline-success");
                buttons[0].classList.add("btn-success");
                buttons[1].classList.remove("btn-danger");
                buttons[1].classList.add("btn-outline-danger");
            } else if (userVote === -1) {
                buttons[0].classList.remove("btn-success");
                buttons[0].classList.add("btn-outline-success");
                buttons[1].classList.remove("btn-outline-danger");
                buttons[1].classList.add("btn-danger");
            }
        });
        
        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
        
        const ups = document.getElementsByName("up");
        for(let i = 0; i < ups.length; i++) {
            ups[i].addEventListener("click", function (e) {
                connection.invoke("Vote", parseInt(this.parentElement.id), 1).catch(function (err) {
                    return console.error(err.toString());
                });  
            });
        }
        
        const downs = document.getElementsByName("down");
        for(let i = 0; i < downs.length; i++) {
            downs[i].addEventListener("click", function (e) {
                connection.invoke("Vote", parseInt(this.parentElement.id), -1).catch(function (err) {
                    return console.error(err.toString());
                });    
            })
        }
    </script>
}