﻿@model ICollection<GeekStream.Core.Shared.Entities.Review>
@{
    ViewData["Title"] = "Ревью пользователей";
}

<div class="container pt-3">
    @foreach (var review in Model)
        {
            <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
                <div class="row align-items-center">
                    <div class="col-md-auto">
                        @if (review.Article.Category.IconPath == null)
                        {
                            <div style="width: 24px; height: 24px; background-color: #7B61FF; border-radius: 4px"></div>
                        }
                        else
                        {
                            <img src="~/@review.Article.Category.IconPath" width="24" height="24" alt="CategoryIcon">
                        }
                    </div>
                    <a class="col-md-auto pl-0" href="#">@review.Article.Category.Name</a>
                    <div class="col-md-auto text-muted small">Создано: @review.ReviewCreated.ToString("dd/MM/yyyy HH:mm")</div>
                    <div class="col-md-auto ml-auto d-flex flex-row align-items-center">
                        @{
                            var avatarPath = review.Author.AvatarPath ?? "imgs/avatars/default.png";
                        }
                        <img src="~/@avatarPath" alt="avatar" width="24" height="24" style="border-radius: 18px">
                        <a href="#" class="nav-link pl-2">@review.Author.FirstName @review.Author.LastName</a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <a class="text-muted" asp-controller="Review" asp-action="Review" asp-route-id="@review.Id">
                        <h5 class="col-md-auto">@review.Article.Title (@review.Status)</h5>
                    </a>
                </div>
                <div class="small text-muted">
                    @review.Article.Content
                </div>
            </div>
        }
</div>