﻿@using GeekStream.Core.ViewModels
@model GeekStream.Core.Shared.Entities.Review
@{
    ViewData["Title"] = "Ревью";
}

<div class="container pt-3">
    <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
        <div class="row">
            <div class="col-md-auto text-muted">
                Ревью статьи
            </div>
            <div class="col-md-auto ml-auto">
                @if (Model.Status != "Отклонена" && Model.Status != "Опубликована")
                {
                    @if (!User.IsInRole("Admin") && !User.IsInRole("Mod"))
                    {
                        <form method="post">
                            <button formaction="@Url.Action("Publish", "Article", new { reviewId = Model.Id})" class="btn mr-2" @(!Model.Approvals.Any() ? "disabled='disabled'": "") style="background-color: #7B61FF; color: white; border-radius: 8px">Опубликовать</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" class="d-flex">
                            <input hidden name="reviewId" id="reviewId" value="@Model.Id">
                            @if (Model.Author.UserName == User.Identity.Name)
                            {
                                <button formaction="@Url.Action("Publish", "Article", new { reviewId = Model.Id})" class="btn mr-2" @(!Model.Approvals.Any() ? "disabled='disabled'": "") style="background-color: #7B61FF; color: white; border-radius: 8px">Опубликовать</button>    
                            }
                            <button asp-controller="Review" asp-action="ApproveReview" class="btn btn-success">Одобрить статью</button>
                            <button asp-controller="Review" asp-action="RejectReview" class="ml-2 btn btn-outline-danger">Отколнить статью</button>
                        </form>
                    }   
                }
            </div>
        </div>
        <div class="row align-items-center pt-2">
            <div class="col-md-auto">
                @if (Model.Article.Category.IconPath == null)
                {
                    <div style="width: 24px; height: 24px; background-color: #7B61FF; border-radius: 4px"></div>
                }
                else
                {
                    <img src="~/@Model.Article.Category.IconPath" width="24" height="24" alt="CategoryIcon">
                }
            </div>
            <a class="col-md-auto pl-0" href="#">@Model.Article.Category.Name</a>
            <div class="col-md-auto text-muted ml-auto small">@(Model.Status)</div>
        </div>
        <div class="row align-items-center ">
            <h3 class="col-md-auto pt-2">@Model.Article.Title</h3>
        </div>
        <div class="text-muted py-2">
            @Model.Article.Content
        </div>
        <div class="col-md-auto ml-auto d-flex flex-row align-items-center pl-0">
            @{
                var avatarPath = Model.Article.Author.AvatarPath ?? "imgs/avatars/default.png";
            }
            <img src="~/@avatarPath" alt="avatar" width="36" height="36" style="border-radius: 18px">
            <a href="#" class="nav-link pl-2">@Model.Article.Author.FirstName @Model.Article.Author.LastName</a>
        </div>
        <div class="text-muted pt-3">
            Ревью (@Model.Comments.Count)
        </div>
        <div class="py-1">
            @if (!Model.Comments.Any())
            {
                <div class="text-center">
                    <h5>Здесь будут отображаться сообщения ревью</h5>
                </div>
            }
            else
            {
                foreach (var comment in Model.Comments)
                {
                    <div class="my-2">
                        <div class="col-md-auto d-flex flex-row align-items-center pl-0">
                            @{
                                var avatarPathComment = comment.Author.AvatarPath ?? "imgs/avatars/default.png";
                            }
                            <img src="~/@avatarPathComment" alt="avatar" width="24" height="24" style="border-radius: 18px">
                            <a href="#" class="nav-link pl-2">@comment.Author.FirstName @comment.Author.LastName</a>
                        </div>
                        <div class="text-muted">
                            @comment.Text
                        </div>
                    </div>
                }
            }
        </div>
        @{ await Html.RenderPartialAsync("_sendReviewCommentPartial", new SendReviewCommentViewModel
           {
               ReviewId = Model.Id
           }); }
    </div>
</div>