﻿@using GeekStream.Core.Shared.Entities
@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/png" href="~/imgs/brand.png"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body style="background-color: #E5E5E5; font-family: 'Inter', sans-serif;">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border" style="height: 80px">
        <a asp-controller="Home" asp-action="Articles" class="navbar-brand">
            <img src="~/imgs/brand.png" height="40px" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Articles" class="nav-link">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Дискуссии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Category" asp-action="List">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Author" asp-action="List">Авторы</a>
                </li>
                @if (User.IsInRole("Mod") || User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Review" asp-action="All" class="nav-link">Ревью</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="btn" style="background-color: #7B61FF; color: white; border-radius: 8px" asp-controller="Article" asp-action="Create">Написать статью</a>
                </li>
                <li class="nav-item ml-2">
                    <form method="post" asp-controller="Home" asp-action="Search">
                        <input class="form-control mr-sm-2" style="border-radius: 8px" type="search" name="search" placeholder="Найти статью" aria-label="Найти статью">
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (_signInManager.IsSignedIn(User))
                {
                    var avatarPath = _userManager.GetUserAsync(User).Result.AvatarPath ?? "imgs/avatars/default.png";
                    <div class="dropdown">
                        <li class="nav-item row mr-auto" data-toggle="dropdown">
                            <a href="#" class="nav-link">@_userManager.GetUserAsync(User).Result.FirstName @_userManager.GetUserAsync(User).Result.LastName</a>
                            <img src="~/@avatarPath" alt="avatar" width="36" height="36" style="border-radius: 18px">
                        </li>
                        <div class="dropdown-menu" style="border-radius: 8px; right: 0; left: auto;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="Settings" asp-action="ChangePersonalData">Мой профиль</a>
                            <a class="dropdown-item" asp-controller="Review" asp-action="MyReviews">Мои ревью</a>
                            <a class="dropdown-item" asp-controller="Article" asp-action="MyDrafts">Мои черновики</a>
                            <a class="dropdown-item" href="#">Диалоги</a>
                            <form method="post" asp-controller="Account" asp-action="Logout">
                                <button class="dropdown-item" type="submit">Выйти</button>
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <li>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-light" style="border: 1px solid lightgray; border-radius: 8px">Войти</a>
                    </li>
                    <li>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-light ml-2" style="border: 1px solid lightgray; border-radius: 8px">Регистрация</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>
@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>