@model GeekStream.Core.ViewModels.SendReviewCommentViewModel

<form method="post" asp-controller="Comment" asp-action="SendReviewComment" class="d-flex align-items-center py-2">
    <input hidden asp-for="ReviewId">
    <input class="py-1 mr-2" asp-for="Text" placeholder="Ваше сообщение" style="outline: none">
    <input type="submit" class="btn btn-light" style="border: 1px solid lightgray; border-radius: 8px">
</form>