@model GeekStream.Core.ViewModels.SendCommentViewModel

<form method="post" asp-controller="Comment" asp-action="SendComment" class="d-flex align-items-center py-2">
    <input hidden asp-for="ArticleId">
    <input class="py-1 mr-2" asp-for="Text" placeholder="Ваш комментарий" style="outline: none">
    <input type="submit" class="btn btn-light" style="border: 1px solid lightgray; border-radius: 8px">
</form>