@model string

@{
  var style1 = Model == "data" ? "nav-link active" : "nav-link";
  var style2 = Model == "pass" ? "nav-link active" : "nav-link";
  var style3 = Model == "avatar" ? "nav-link active" : "nav-link";
}

<div class="bg-light" style="border-radius: 16px 0 0 16px;">
    <div class="nav flex-column nav-pills">
        <a class="@style1" asp-controller="Settings" asp-action="ChangePersonalData">
          Данные профиля
        </a>
        <a class="@style2" asp-controller="Settings" asp-action="ChangePassword">
          Смена пароля
        </a>
        <a class="@style3" asp-controller="Settings" asp-action="ChangeAvatar">
          Смена аватара
        </a>
    </div>        
</div>