﻿@{
    ViewData["Title"] = ViewBag.Title;
    var style = ViewBag.IsError ? "text-danger" : "text-success";
}
<div class="row text-center">
    <div class="col-md-6 offset-3 bg-light mt-3" style="border-radius: 16px">
        <div class="col-md-10 offset-1 my-auto">
            <div class="col-md-auto" style="margin-top: 35px">
                <img src="~/imgs/brand.png" alt="logo" height="40px">
            </div>
            <div class="col-md-auto mb-1 @style">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="@style">
                <h5>@ViewBag.Description</h5>
            </div>
        </div>
    </div>
</div>