﻿@model GeekStream.Core.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Изменить пароль";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-2 offset-1 p-0 mt-3">
            @{ await Html.RenderPartialAsync("_settingsMenuPartial", "pass"); }
        </div>
        <div class="col-md-6 bg-light mt-3" style="border-radius: 0 16px 16px 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto mb-3">
                    <h2>Изменить пароль</h2>
                </div>
                <form method="post" class="text-left" asp-controller="Settings" asp-action="ChangePassword">
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" class="form-control" style="border-radius: 8px" placeholder="Предыдущий пароль">
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" style="border-radius: 8px" placeholder="Новый пароль">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" style="border-radius: 8px" placeholder="Повторите пароль">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group d-flex justify-content-end" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-auto" style="background-color: #7B61FF; color: white; border-radius: 8px;">Сменить пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

