﻿@model GeekStream.Core.ViewModels.ChangePersonalDataViewModel

@{
    ViewData["Title"] = "Изменить данные аккаунта";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-2 offset-1 p-0 mt-3">
            @{ await Html.RenderPartialAsync("_settingsMenuPartial", "data"); }
        </div>
        <div class="col-md-6 bg-light mt-3" style="border-radius: 0 16px 16px 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto mb-3">
                    <h2>Изменить данные профиля</h2>
                </div>
                <form method="post" class="text-left" asp-controller="Settings" asp-action="ChangePersonalData">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label asp-for="FirstName" style="font-size: 16px"></label>
                            <input asp-for="FirstName" class="form-control" style="border-radius: 8px" placeholder="Имя">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" style="border-radius: 8px" placeholder="Фамилия">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" style="border-radius: 8px" placeholder="Ваша почта. Останется в секрете ;)">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-6 offset-6" style="background-color: #7B61FF; color: white; border-radius: 8px;">Изменить данные</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

