﻿@using GeekStream.Core.Shared.Entities
@model GeekStream.Core.ViewModels.ChangeAvatarViewModel
@inject UserManager<AppUser> _userManager

@{
    ViewData["Title"] = "Сменить аватар";
    var avatarPath = _userManager.GetUserAsync(User).Result.AvatarPath ?? "imgs/avatars/default.png";
}

<div class="container">
    <div class="row text-center">
        <div class="col-md-2 offset-1 p-0 mt-3">
            @{ await Html.RenderPartialAsync("_settingsMenuPartial", "avatar"); }
        </div>
        <div class="col-md-6 bg-light mt-3" style="border-radius: 0 16px 16px 16px">
            <div class="col-md-10 offset-1 my-auto">
                <div class="col-md-auto" style="margin-top: 35px">
                    <img src="~/imgs/brand.png" alt="logo" height="40px">
                </div>
                <div class="col-md-auto mb-3">
                    <h2>Сменить аватар</h2>
                </div>
                <div>
                    <h4>Ваш текущий аватар</h4>
                    <img src="~/@avatarPath" alt="avatar" class="col-md-8">
                </div>
                <form enctype="multipart/form-data" asp-controller="Settings" asp-action="ChangeAvatar" method="post" class="text-left">
                    <label asp-for="Avatar"></label>
                    <div class="custom-file">
                        <input asp-for="Avatar" class="form-control custom-file-input">
                        <label class="custom-file-label">Выберите файл</label>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group d-flex justify-content-end" style="margin-bottom: 32px">
                        <button type="submit" class="btn col-md-auto" style="background-color: #7B61FF; color: white; border-radius: 8px;">Загрузить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

