﻿@model IEnumerable<GeekStream.Core.Shared.Entities.Category>

@{
    ViewData["Title"] = "Список категорий";
}

<div class="container pt-3">
    @foreach (var category in Model)
    {
        <div class="container bg-white mb-3" style="border-radius: 8px; padding: 24px">
            <div class="row align-items-center">
                <div class="col-md-auto d-flex flex-row align-items-center">
                    <a asp-controller="Category" asp-action="Show" asp-route-id="@category.Id" class="nav-link pl-2">@category.Name</a>
                </div>
            </div>
        </div>
    }
</div>
